@media (max-width:375px){
    .header-galeria{    
        background: linear-gradient(45deg, rgba(236, 26, 26, 0.7), 
         rgb(238, 148, 23)
         );
        height: 32vh;
        background-position: top;
        background-size: cover;
        border-radius: .5rem;
    }

    .galeria-box{
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%,50%);
    }

    .titulo-galeria{
        font-family: 'Niramit',sans-serif;
        font-size: 8rem;
        display: block;
        letter-spacing: 2px;  
        color: white;
    }


.btn-galeria:link,
.btn-galeria:visited{
    font-family: 'Niramit',sans-serif;
    text-decoration: none;
    padding: .5rem 2.2rem;
    display: inline-block;
    border-radius: 2rem;
    transition: all .2s;
    position: absolute;
    font-size: 2rem;

}

}